* { box-sizing: border-box; }

body { 
  font-family: sans-serif;
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(129,129,185,1) 0%, rgba(43,54,208,1) 43%, rgba(0,212,255,1) 100%);
  color:white;
  border: white 8px groove;
  height: 620px;
}

.content {
  display: flex;
  justify-content: center;
}

.espacio {
  margin-top: 80px;
}